ATSYN_MOVE   BITMAP mouse_scroll.bmp

ATSYN_MOVE   CURSOR mouse_scroll.cur
ATSYN_MOVE_U CURSOR mouse_scroll_up.cur
ATSYN_MOVE_D CURSOR mouse_scroll_down.cur
ATSYN_MOVE_L CURSOR mouse_scroll_left.cur
ATSYN_MOVE_R CURSOR mouse_scroll_right.cur
