*.rar
*.zip
*.dbg
*.ico
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.dof
*.deb
*.zip
*.ppu
*.bak

synlite
atgroups/demo

DLLs/
lib/
backup/
comp_ec/
comp/atgroups
comp/python
*.lps
*.copy
project?
demo
/ATBinHex-Lazarus
