*.exe
*.rar
*.zip
*.dbg
*.ico
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.dof
*.deb
*.zip
*.ppu
*.bak
*.ini
*.lps
*.copy

lib/
backup/
project?
demo
demo_edit
lex_lib_demo
link*.res
